
@media (max-width:480px){
  .desktop {
    display:none;
  }

  .mobile {
    display: block;
  }

}

body {
  background: #B4D6C1;
  color: black;
  text-align: center;
  
}

.container {
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  border-color: #014421;
  border-style: dashed;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;

}


.headline {
  text-align: left;
  color: black;
  font-size: 100px;

}

.byline {
  text-align: center;
  color: black;
  font-size: 70px;
}

#copy {
  text-align: center;
  color: black;
  font-size: 15px;

}

.mapping {
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  shape-margin: square;

}


img {
  max-width: 100%;
  height: auto%;

}

.sources {
  text-align: left;
  justify-content: flex-start;
  color: black;

}

.mobile {
  text-align: center;
}

p {
  text-align: left;
}


